body {
	font-family: Arial, Helvetica, sans-serif;
}

ul li {
	display: block;
	margin: auto;
	text-align: center;
}
.vertical {
	position: fixed;
	margin-top: 650px;
	left: 0px;
	z-index: 9999;
	-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);	
}
.vertical2 {
	position: fixed;
	margin-top: 450px;
	left: -40px;
	z-index: 9999;
	-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    padding-left: 30px;
    border-left: 1px solid #568AA7;	
}
.apple {
  	width: 15px;
}

.content {
  	margin: auto;
  	max-width: 1100px;
}
.nav-content {
  	max-width: 1100px;
  	margin: auto;
}

p {
  	font-size: 2.0em;
  	font-weight: 800;
}
.section {
  	position: relative;
  	top: 0px;
}
.section-margin {
	margin: 220px auto;
}
.icon1 img{
	left: 0px;
  	width: 30px;
}
a {
	text-decoration: none;
	color: #568AA7;
	padding: 0 10px;
}
.heading {
	position: relative;
	padding: 500px 400px;
}
img.arrow {
	position: relative;
	display: block;
	top: 500px;
	width: 100px;
}

/* 1976 scroll down for arrow and 1976 nav bar button*/


/* Section 1 */
/* Bellow is left image header and product styles */

img.left-img {
	position:relative;
	top: -100px;
	left: -100px;
	width: 400px;
	max-width: 400px;
	padding: 7px 20px;
	transition: 3s;
    -webkit-transition: 3s; /* Safari 3.1 to 6.0 */
}

img.left-img01 {
	width: 300px;
}
.left-to-right {
    margin-left: 300px;
}
/* Bellow is right P styles */
.right-text {
	position: relative;
	top: -800px;
	min-width: 500px;
	margin-left: 3500px;
	padding: 50px 20px;
	transition: 3s;
    -webkit-transition: 3s; /* Safari 3.1 to 6.0 */
}
.right-to-left {
	position: relative;
	margin-left: 3000px;
}
/* Bellow is year styles */
.year {
	position: relative;
	left: 325px;
	top: -600px;
	font-size: 5.0em;
	font-weight: 800;
}
.right-to-left-year {
	position: relative;
	float: right;
	margin-right: 200px;
    padding: 50px 20px;
	transition: 2s;
    -webkit-transition: 2s; /* Safari 3.1 to 6.0 */
}
/* End of Section 1 */
/* Section 2 */
/* Bellow is left image header and product styles */
img.left-img2 {
	position:relative;
	left: -100px;
	width: 400px;
	padding: 7px 20px;
	transition: 3s;
    -webkit-transition: 3s; /* Safari 3.1 to 6.0 */
}
.left-to-right2 {
    margin-left: 300px;
}
/* Bellow is right P styles */
.right-text2 {
	position: relative;
	top: -800px;
	min-width: 500px;
	margin-left: 3500px;
	padding: 50px 20px;
	transition: 3s;
    -webkit-transition: 3s; /* Safari 3.1 to 6.0 */
}
.right-to-left2 {
	position: relative;
	margin-left: 3000px;
}
/* Bellow is year styles */
.year2 {
	position: relative;
	left: 325px;
	top: -600px;
	font-size: 5.0em;
	font-weight: 800;
}
.right-to-left-year2 {
	position: relative;
	float: right;
	margin-right: 200px;
    padding: 50px 20px;
	transition: 2s;
    -webkit-transition: 2s; /* Safari 3.1 to 6.0 */
}


/* Section 3 */
/* Bellow is left image header and product styles */

img.left-img3 {
	position:relative;
	left: -100px;
	width: 400px;
	padding: 7px 20px;
	transition: 3s;
    -webkit-transition: 3s; /* Safari 3.1 to 6.0 */
}
img.left-img3-01 {
	top: 100px;
}
.left-to-right3 {
    margin-left: 300px;
}
/* Bellow is right P styles */
.right-text3 {
	position: relative;
	top: -800px;
	min-width: 500px;
	margin-left: 3500px;
	padding: 50px 20px;
	transition: 3s;
    -webkit-transition: 3s; /* Safari 3.1 to 6.0 */
}
.right-to-left3 {
	position: relative;
	margin-left: 3000px;
}
/* Bellow is year styles */
.year3 {
	position: relative;
	left: 325px;
	top: -600px;
	font-size: 5.0em;
	font-weight: 800;
}
.right-to-left-year3 {
	position: relative;
	float: right;
	margin-right: 200px;
    padding: 50px 20px;
	transition: 2s;
    -webkit-transition: 2s; /* Safari 3.1 to 6.0 */
}
/* Section 4 */
/* Bellow is left image header and product styles */
.section4 {

}
img.left-img4 {
	position:relative;
	left: -100px;
	width: 400px;
	padding: 7px 20px;
	transition: 3s;
    -webkit-transition: 3s; /* Safari 3.1 to 6.0 */
}
.left-to-right4 {
    margin-left: 300px;
}
/* Bellow is right P styles */
.right-text4 {
    position: relative;
    top: -700px;
    min-width: 900px;
    margin-left: 3500px;
    padding: 50px 20px;
    transition: 3s;
    -webkit-transition: 3s;
}
.right-to-left4 {
	position: relative;
	margin-left: 3000px;
}
/* Bellow is year styles */
.year4 {
    position: relative;
    left: 916px;
    top: -600px;
    font-size: 5.0em;
    font-weight: 800;
}

.right-to-left-year4 {
    position: relative;
    float: right;
    margin-right: 257px;
    padding: 50px 20px;
    transition: 2s;
    -webkit-transition: 2s;
}
/* Section 5 */
/* Bellow is left image header and product styles */

img.left-img5 {
	position:relative;
	top: -300px;
	left: -100px;
	width: 400px;
	padding: 7px 20px;
	transition: 3s;
    -webkit-transition: 3s; /* Safari 3.1 to 6.0 */
}
img.left-img5-01  {
	top: 0px;
}
.left-to-right5 {
    margin-left: 300px;
}
/* Bellow is right P styles */
.right-text5 {
	position: relative;
	top: -800px;
	min-width: 500px;
	margin-left: 3500px;
	padding: 50px 20px;
	transition: 3s;
    -webkit-transition: 3s; /* Safari 3.1 to 6.0 */
}
.right-to-left5 {
	position: relative;
	margin-left: 3000px;
}
/* Bellow is year styles */
.year5 {
	position: relative;
	left: 325px;
	top: -600px;
	font-size: 5.0em;
	font-weight: 800;
}
.right-to-left-year5 {
	position: relative;
	float: right;
	margin-right: 200px;
    padding: 50px 20px;
	transition: 2s;
    -webkit-transition: 2s; /* Safari 3.1 to 6.0 */
}
/* Section 6 */
img.left-img6 {
	position:relative;
	left: -200px;
	padding: 50px 20px;
	transition: 3s;
    -webkit-transition: 3s; /* Safari 3.1 to 6.0 */
}
.left-to-right6 {
    margin-left: 250px;
}
/*
.apple-1 {
	position: relative;
	top: -720px;
	float: left;
}
.apple-2 {
	position: relative;
	float: left;
	top: -720px;
	padding-left: 50px;
}
.apple-3 {
	position: relative;
	float: left;
	top: -720px;
	padding-left: 50px;
}*/
/*ABOUT Section Start*/

/*First Paragraph Section Start*/
.about-right-text {
	position: relative;
	top: 0px;
	min-width: 400px;
	width: 400px;
	left: 1600px;
	font-size: 1.5em;
	transition: 3s;
    -webkit-transition: 3s; /* Safari 3.1 to 6.0 */
}
.about-right-to-left {
	position: relative;
	left: 500px;
}
.about {
	position: relative;
	float: left;
	top: -100px;
	left: 400px;
	font-size: 5.0em;
	font-weight: 100;
}
.about-section {
	position: relative;
	top: 0px;
}
.apple2 {
	float: left;
	width: 50px;
}
img.apple2 {
	position: relative;
	top: 140px;
	left: 200px;
}
.about-year2 {
	position: relative;

	left: 220px;
	top: 130px;
	font-size: 5.0em;
	font-weight: 800;
}
.citation {
	position: relative;
	float: left;
	margin: 100px 300px 100px 100px;
	left: 400px;
	font-size: 5.0em;
	font-weight: 100;
}
footer {
	font-weight: 100;
	font-size: 0.5em;
	color: #ddd;
}
.right {
	float: right;
}